body {
  margin:0;
  font-family: Arial, sans-serif;
  background:#f4f6f8;
  padding-bottom:80px;
}

header {
  background:#111;
  color:white;
  text-align:center;
  padding:15px;
}

#app {
  padding:20px;
}

.card {
  background:white;
  padding:15px;
  border-radius:12px;
  margin-bottom:15px;
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

input {
  width:100%;
  padding:10px;
  margin-top:6px;
  margin-bottom:10px;
  font-size:16px;
}

button {
  padding:12px;
  border:none;
  border-radius:8px;
  background:#111;
  color:white;
  font-size:16px;
}

.bottom-nav {
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  background:white;
  border-top:1px solid #ddd;
}

.bottom-nav button {
  flex:1;
  background:white;
  color:black;
  font-size:16px;
}
